<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>cest-la-</title>
</head>
<!--- https://nouvelair-preprod.rouen-webmaster.com/wp-json/nouvelair/api/alltriptyque-->

<body>
  <div id="app">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" @click="choose('home')" v-if="actualPage !== 'home'">Accueil</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <home v-if="actualPage == 'home'"></home>
    <!---Recap-->
    <div v-if="actualPage !== 'home'">
      <div id="ici" class="container">

        <div class="row">
          <div class="col-8">
            <pare-brise v-if="actualPage == 'pare-brise'" :data="getAlltriptyque"> </pare-brise>
            <baie v-if="actualPage == 'baie'" :test="getPricebais"></baie>
            <dome v-if="actualPage == 'dome'" :yolo="getAlldome"></dome>
          </div>
          <div class="col-4 row recap">
            <h2>recapitulatif de ma commande</h2>
            <p>volets de dome X {{counterDome}}</p>
            <p>volets de lanterneaux X {{counterLanterneaux}}</p>
            <p>{{returnskyDome}}</p>
            <div class="col-6" v-for="hauteur in listHauteur">{{hauteur}}</div>
            <div class="col-6" v-for="longueur in listLongueur">{{longueur}}</div>
          </div>
        </div>


      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-8 boutondubas selection">
            <ul class="list-group list-group-vertical row" v-for="button in buttons">
              <li>
                <button class="btn btn-outline-primary col-4">voir les {{button}}</button>
              </li>
            </ul>


          </div>
          <div class="col-4 boutondubas terminer">
            <button type="button" class="btn btn-danger">voir les voir les </button>
          </div>
        </div>
      </div>

      <end v-if="actualPage == 'end'"></end>
    </div>
    <!--  -->

  </div>

  <!-- Vue.JS  -->

  <script>

    // Accueil //


    Vue.component('home', {
      model: {
        event: 'pare-brise'
      },

      template: `<div class="container">
    <div class="row">
      <div class="col-4">
        <div class="choice">
          <img src="/images/volet.png" class="img-fluid" alt="Responsive image">
          <h2>Volets triptique de pare-brise</h2>
          <p>sélectionnez un volet tryptique de pare-brise en fonction de votre camping-car</p>
          <button id="pare-brise" type="button" @click="choose('pare-brise') " class="btn btn-outline-warning bottom-10 start-50 translate-middle">Je souhaite un volet tryptique</button>
        </div>
      </div>

      <div class="col-4">
        <div class="choice">
          <img src="/images/voletsbaies.png" class="img-fluid" alt="Responsive image">
          <h2>Volets de baie</h2>
          <p>Sélectionnez les différentes dimensions de vos baie de votre camping-car</p>
          <button id="baie" type="button" @click="choose('baie')" class="btn btn-outline-warning bottom-10 start-50 translate-middle translate-end">Je souhaite un volet de baie</button>
        </div>
      </div>
      
      <div class="col-4">
        <div class="choice">
          <img src="/images/voletsdomes.png" class="img-fluid" alt="Responsive image">
          <h2>Volets de dômes</h2>
          <p>renseignez les quantité des différents dômes, lanterneaux et skydôme de votre camping-car</p>
          <button id="dome" type="button" @click="choose('dome')" class="btn btn-outline-warning bottom-10 start-50 translate-middle">Je souhaite un volet de dôme</button>
        </div>
      </div>
    </div>
  </div>`,


      methods: {
        choose: function (pageChoosen) {
          this.$parent.choose(pageChoosen)
        }
      }
    }),

      /* Les pages a affiché.  https://vuejs.org/v2/api/#parent */

      Vue.component('end', {
        template: `<h1>bonjour</h1>`
      }),
      // Le choix du modéles //

      Vue.component('pare-brise', {
        props: [
          "data"
        ],
        template:
          `<div class="container">
          <div class="row row-cols-2">
            <div v-for="(volets, index) in data[0].data" v-if="index !== 4" class="col">
              <img style="width: 200px" v-bind:src="volets.fields.images.image">
              </div>
          </div>
      </div>`,

          //recape silte
          
      methods: {
        increment: function (dome, index) {
            console.log(index)
            if (index == 0){
              this.$parent._data.counterDome ++;
            }
            else if(index == 1){
              this.$parent._data.counterLanterneaux ++;
            }
            else if(index == 2){
              this.$parent._data.skyDome = true
              if(this.$parent._data.skyDome == true){
                this.$parent._data.returnskyDome = "volet de SkyDôme"
              }
            }
            
          }
      }

      }),

      Vue.component('baie', {
        props: [
          "test",
          /*"listhauteur",
          "listLongueur"*/
        ],
                                                                                                                             
        template:
          `<div class="container">
          <div class="row">
            <div class="col-5">
              <img style="width: 100%; margin-top: 150px" v-bind:src="test[0].data.image">
              </div>
              <div class="col-7 row">
                <div class="col-12" id="1"><p style="display: inline">L</p><input v-model="this.$parent._data.listLongueur[this.$parents('div').attr('id')]" style="width: 150px; display: inline" type="text"><p style="display: inline">H</p><input style="width: 150px; display: inline" type="text"></div>
                <div class="col-12" id="2"><p style="display: inline">L</p><input style="width: 150px; display: inline" type="text"><p style="display: inline">H</p><input  style="width: 150px; display: inline" type="text"></div>
                <div class="col-12" id="3"><p style="display: inline">L</p><input style="width: 150px; display: inline" type="text"><p style="display: inline">H</p><input  style="width: 150px; display: inline" type="text"></div>
                <div class="col-12" id="4"><p style="display: inline">L</p><input style="width: 150px; display: inline" type="text"><p style="display: inline">H</p><input  style="width: 150px; display:inline" type="text"></div>
                <div class="col-12" id="5"><p style="display: inline">L</p><input style="width: 150px; display: inline" type="text"><p style="display: inline">H</p><input  style="width: 150px; display: inline" type="text"></div>
                </div>
            </div>
        </div>`,

        methods:{
          livreur: function(id, value){
            console.log('push');
            this.$parent._data.listLongueur[id].push(value)
          }
        }
      }),

      Vue.component('dome', {
        props: [
          "yolo",
        ],

        template:
          `<div class="container">
          <div class="row row-cols-2">
            <div v-for="(dome, index) in yolo[0].data" class="col">
              <img v-on:click="increment(dome, index)" style="width: 200px" v-bind:src="dome.fields.images.image">
              </div>
          </div>
      </div>`,

        //conteur pour les volets de dôme.

        methods: {
          increment: function (dome, index) {
            console.log(index)
            if (index == 0){
              this.$parent._data.counterDome ++;
            }
            else if(index == 1){
              this.$parent._data.counterLanterneaux ++;
            }
            else if(index == 2){
              this.$parent._data.skyDome = true
              if(this.$parent._data.skyDome == true){
                this.$parent._data.returnskyDome = "volet de SkyDôme"
              }
            }
            
          }
        },
      

      })
      //il fini ici
    const vue = new Vue({
      el: "#app",

      /* API */
      data: {

        actualPage: 'home',
        buttons: ['pare-brise', 'baie', 'dome'],
        url: 'https://nouvelair-preprod.rouen-webmaster.com/wp-json/nouvelair/api/',
        getAlltriptyque: [],
        getPricebais: [],
        getAlldome: [],
        counterDome: 0,
        counterLanterneaux: 0,
        skyDome: false,
        returnskyDome: "",
        listHauteur:[],
        listLongueur:[],

      },

      /* Je cherhcer a afficher mes reponse avec le filters :: ma source https://fr.vuejs.org/v2/cookbook/using-axios-to-consume-apis.html*/


      methods: {
        choose: function (pageChoosen) {
          this.actualPage = pageChoosen;
          console.log(pageChoosen)
        },



        //get Elements c'est pour charger toute la liste.

      },
      // Les listes son applé ici. 
      /* Ici j'appelle mon getAlltriptyque.*/
      created: function (arg) {
        axios.get(this.url + 'alltriptyque')
          .then(response => {
            if (response.status == 200) {
              console.log(response);
              this.getAlltriptyque.push(response);
            }
          }),

          // Il faut faire le tris response avec les response.
          /*Ici c"est getPricebais*/
          axios.get(this.url + 'pricebaie')
            .then(response => {
              if (response.status == 200) {
                console.log(response);
                this.getPricebais.push(response);
              }
            }),
          /* Ici c'est Alldome */
          axios.get(this.url + 'alldome')
            .then(response => {
              if (response.status == 200) {
                console.log(response);
                this.getAlldome.push(response);
                console.log(this.getResponse)
              }
            })
      },

      //fini de listes

      computed: {

      }
    })
  </script>
</body>

</html>