<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>cest-la-</title>
</head>
<!--- https://nouvelair-preprod.rouen-webmaster.com/wp-json/nouvelair/api/alltriptyque-->
<body>
  <div id="app">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" @click="choose('home')" v-if="actualPage !== 'home'">Accueil</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <home v-if="actualPage == 'home'"></home>
    <ul v-for="element in getAlltriptyque[1]">
      <li>{{element.field}}</li>
    </ul>
    <button @click="getElements(getAlltriptyque[0])"></button>
    <div v-if="actualPage !== 'home'">
      <div class="container">
        <div class="row">
          <div class="col-8">
            <pare-brise v-if="actualPage == 'pare-brise'" :data="getAlltriptyque"> </pare-brise>
            <baie v-if="actualPage == 'baie'"></baie>
            <dome v-if="actualPage == 'dome'"></dome>
          </div>
          <div class="col-4 recap">
            <h2>recapitulatif de ma commande</h2>
          </div>
        </div>
        
        
        
        
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-8 boutondubas selection">
            <ul class="list-group list-group-vertical row" v-for="button in buttons">
              <li>
                <button class="btn btn-outline-primary col-4" >voir les {{button}}</button>
              </li>
            </ul>
            
            
          </div>
          <div class="col-4 boutondubas terminer">
            <button type="button" class="btn btn-danger">voir les voir les </button>
          </div>
        </div>
      </div>
      
      <end v-if="actualPage == 'end'"></end>
    </div>
<!--  -->

  </div>
  
<!-- Vue.JS  -->
 
 <script>

        // Accueil //


    Vue.component('home', {
      model: {
        event: 'pare-brise'
      },

      template: `<div class="container">
    <div class="row">
      <div class="col-4">
        <div class="choice">
          <img src="/images/volet.png" class="img-fluid" alt="Responsive image">
          <h2>Volets triptique de pare-brise</h2>
          <p>sélectionnez un volet tryptique de pare-brise en fonction de votre camping-car</p>
          <button id="pare-brise" type="button" @click="choose('pare-brise') " class="btn btn-outline-warning bottom-10 start-50 translate-middle">Je souhaite un volet tryptique</button>
        </div>
      </div>

      <div class="col-4">
        <div class="choice">
          <img src="/images/voletsbaies.png" class="img-fluid" alt="Responsive image">
          <h2>Volets de baie</h2>
          <p>Sélectionnez les différentes dimensions de vos baie de votre camping-car</p>
          <button id="baie" type="button" @click="choose('baie')" class="btn btn-outline-warning bottom-10 start-50 translate-middle translate-end">Je souhaite un volet de baie</button>
        </div>
      </div>
      
      <div class="col-4">
        <div class="choice">
          <img src="/images/voletsdomes.png" class="img-fluid" alt="Responsive image">
          <h2>Volets de dômes</h2>
          <p>renseignez les quantité des différents dômes, lanterneaux et skydôme de votre camping-car</p>
          <button id="dome" type="button" @click="choose('dome')" class="btn btn-outline-warning bottom-10 start-50 translate-middle">Je souhaite un volet de dôme</button>
        </div>
      </div>
    </div>
  </div>`,


      methods: {
        choose: function(pageChoosen){
          this.$parent.choose(pageChoosen)
        } 
      }
    }),

    /* Les pages a affiché.  https://vuejs.org/v2/api/#parent */

    Vue.component('end', {
      template: `<h1>bonjour</h1>`
    }),
        // Le choix du modéles //

    Vue.component('pare-brise', {

      /* c'est un problème a 15h51 C'est ça qui fait qu'on reste sur la pages pare-brise.*/
   
      props:[

         "data"
      ],

      template: 
      `<div class="container">
          <div class="row row-cols-2">
            <div v-for="volets in data[0].data" class="col">
              {{volets.fields.images.image}}

              </div>

            <div class="col">
              <img src="" alt="">
              </div>

            <div class="col">
              <img src="" alt="">
              </div>

            <div class="col">
              <img src="" alt="">
              </div>
          </div>
      </div>`,

      methods: {
        get: function(choosen) {
          console.log('bonsoir')
          this.$parent.get(choosen)
        }
      },
      created: function(){

        console.log('salut')
      }
    }),

    Vue.component('baie', {
      template: `<h1>au revoir</h1>`
    }),
    Vue.component('dome', {
      template: `<h1>rebonjour</h1>`
    })
    const vue = new Vue({
      el: "#app",
      
      /* API */
      
      data: {
        actualPage: 'home',
        buttons: ['pare-brise', 'baie', 'dome'],
        url: 'https://nouvelair-preprod.rouen-webmaster.com/wp-json/nouvelair/api/',
        getAlltriptyque:[],
        getPricebais: [],
        getAlldome:[],
        getData: [],

      },
          /* Je cherhcer a afficher mes reponse avec le filters :: ma source https://fr.vuejs.org/v2/cookbook/using-axios-to-consume-apis.html*/


      methods: {
        choose: function (pageChoosen) {
          this.actualPage = pageChoosen;
          console.log(pageChoosen)

        },
        
        //get Elements c'est pour charger toute la liste.

        getElements: function(Elementchoosen){
          console.log('hi')
          for(i = 0 ; i < Elementchoosen.length ; i++){
            console.log(Elementchoosen[i])
            for(j = 0; j < Elementchoosen.field.length ; j++){
              console.log(Elementchoosen.field[j])
            }
          }
        }
        
      },
        // Les listes son applé ici. 
      /* Ici j'appelle mon getAlltriptyque.*/
      created: function(arg){
          console.log('coucou')
          axios.get(this.url + 'alltriptyque')
            .then(response => {
              if (response.status == 200){
                console.log(response);
                this.getAlltriptyque.push(response);
              }
            }),

            // Il faut faire le tris response avec les response.
            /*Ici c"est getPricebais*/
            axios.get(this.url + 'pricebaie')
            .then(response => {
              if (response.status == 200){
                console.log(response);
                this.getPricebais.push(response);
              }
            }),
                /* Ici c'est Alldome */
            axios.get(this.url + 'alldome')
            .then(response => {
              if (response.status == 200){
                console.log(response);
                this.getAlldome.push(response);
                console.log(this.getResponse)
              }
            })
      },

      //fini de listes

      computed: {
         
      }
    })
  </script>
</body>

</html>