<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Devis</title>
  </head>
  <!--- https://nouvelair-preprod.rouen-webmaster.com/wp-json/nouvelair/api/alltriptyque-->

  <body>
    <div id="app">
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <a
              class="navbar-brand"
              href="#"
              @click="choose('home')"
              v-if="actualPage !== 'home'"
              >Accueil</a
            >

            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
              <ul
                class="navbar-nav"
                v-if="actualPage !== 'home'"
                v-for="button in buttonsfilter"
              >
                <li v-if="actualPage !== button.name" class="nav-item">
                  <!---les buttons-->
                  <a
                    class="nav-link"
                    @click="choose(button.name); deletebutton(button);"
                    >Voir les {{button.name}}</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <home v-if="actualPage == 'home'"></home>

      <!---La liste commence ici-->
      <div v-if="actualPage !== 'home'">
        <div id="ici" class="container">
          <div class="row">
            <div class="col-8">
              <pare-brise
                v-if="actualPage == 'pare-brise'"
                :data="getAlltriptyque"
              >
              </pare-brise>

              <baie v-if="actualPage == 'baie'" :test="getPricebais"></baie>
              <dome v-if="actualPage == 'dome'" :yolo="getAlldome"></dome>
            </div>
            <div class="col-4 row recap">
              <h2>recapitulatif de ma commande</h2>
              <p v-if="CampingCarModel !== '' ">
                volet triptyque de part brise = {{CampingCarModel}}
              </p>
              <div class="col-12" v-for="(donnée, index) in filter">
                baie {{index + 1}} = {{donnée.longueur}} X {{donnée.hauteur}} cm
              </div>
              <p v-if="counterDome!==0 ">volets de dome X {{counterDome}}</p>
              <p v-if="counterLanterneaux!==0 ">
                volets de lanterneaux X {{counterLanterneaux}}
              </p>
              <p>{{returnskyDome}}</p>
            </div>
          </div>
        </div>

        <end v-if="actualPage == 'end'"></end>
      </div>
      <!-- et fini ici -->
    </div>

    <!-- Vue.JS  -->

    <script>
      // Accueil //

      Vue.component("home", {
        model: {},

        template: `<div class="container">
    <div class="row">
      <div class="col-4">
        <div class="choice">
          <img src="/images/volet.png" class="img-fluid" alt="Responsive image">
          <h2>Volets triptique de pare-brise</h2>
          <p>sélectionnez un volet tryptique de pare-brise en fonction de votre camping-car</p>
          <button id="pare-brise" type="button" @click="choose('pare-brise') " class="btn btn-outline-warning bottom-10 start-50 translate-middle">Je souhaite un volet tryptique</button>
        </div>
      </div>

      <div class="col-4">
        <div class="choice">
          <img src="/images/voletsbaies.png" class="img-fluid" alt="Responsive image">
          <h2>Volets de baie</h2>
          <p>Sélectionnez les différentes dimensions de vos baie de votre camping-car</p>
          <button id="baie" type="button" @click="choose('baie')" class="btn btn-outline-warning bottom-10 start-50 translate-middle translate-end">Je souhaite un volet de baie</button>
        </div>
      </div>
      
      <div class="col-4">
        <div class="choice">
          <img src="/images/voletsdomes.png" class="img-fluid" alt="Responsive image">
          <h2>Volets de dômes</h2>
          <p>renseignez les quantité des différents dômes, lanterneaux et skydôme de votre camping-car</p>
          <button id="dome" type="button" @click="choose('dome')" class="btn btn-outline-warning bottom-10 start-50 translate-middle">Je souhaite un volet de dôme</button>
        </div>
      </div>
    </div>
  </div>`,

        // C’est pour changer les pages home.
        methods: {
          choose: function (pageChoosen) {
            this.$parent.choose(pageChoosen);
          },
        },
      }),
        /* Les pages a affiché.  https://vuejs.org/v2/api/#parent */

        Vue.component("end", {
          template: `<h1>bonjour</h1>`,
        }),
        // Le choix du modéles //

        Vue.component("pare-brise", {
          props: ["data"],
          template: `<div class="container">
          <div class="row row-cols-2">
            <div  @click="voletType(index)" style=" width: 300px; height: 200px;background-color: white; border-radius: 30px; color: green" v-for="(volets, index) in data[0].data"  class="col">
              <img style="width: 200px"  v-if="index !== 4" v-bind:src="volets.fields.images.image">
              <h2 >{{volets.fields.nom}}</h2>
              </div>
          </div>
      </div>`,

          // pour choisir le modele ICI

          methods: {
            voletType: function (index) {
              if (index == 0) {
                this.$parent._data.CampingCarModel = "integral";
              } else if (index == 1) {
                this.$parent._data.CampingCarModel = "Profilé";
              } else if (index == 2) {
                this.$parent._data.CampingCarModel = "Capucine";
              } else if (index == 3) {
                this.$parent._data.CampingCarModel = "Fourgons";
              } else if (index == 4) {
                this.$parent._data.CampingCarModel = "Hors Gabarit";
              }
            },
          },
        }),
        Vue.component("baie", {
          props: ["test"],

          template: `<div class="container">
          <div class="row">
            <div class="col-5">
              <img style="width: 100%; margin-top: 150px" v-bind:src="test[0].data.image">
              </div>
              <div class="col-7 row" >
                <div class="col-12" v-for="inputs in this.$parent._data.listHauteur">
                  <p style="display: inline">L</p>
                  <input v-on:keypress="isNumber(event)" v-model="inputs.longueur" style="width: 150px; display: inline" type="text">
                  <p style="display: inline">H</p>
                  <input v-on:keypress="isNumber(event)" v-model="inputs.hauteur" style="width: 150px; display: inline" type="text"></div>
                </div>
            </div>
        </div>`,

          //ça bloque les lettres sur les inputs de la page bais.//
          methods: {
            isNumber: function (evt) {
              evt = evt ? evt : window.event;
              var charCode = evt.which ? evt.which : evt.keyCode;
              if (
                charCode > 31 &&
                (charCode < 48 || charCode > 57) &&
                charCode !== 46
              ) {
                evt.preventDefault();
              } else {
                return true;
              }
            },
          },
        }),
        Vue.component("dome", {
          props: ["yolo"],

          template: `<div class="container">
          <div class="row row-cols-2">
            <div v-for="(dome, index) in yolo[0].data" class="col">
              <img v-on:click="increment(dome, index)" style="width: 200px" v-bind:src="dome.fields.images.image">
              </div>
          </div>
      </div>`,

          //conteur pour les volets de dôme.

          methods: {
            increment: function (dome, index) {
              console.log(index);
              if (index == 0) {
                this.$parent._data.counterDome++;
              } else if (index == 1) {
                this.$parent._data.counterLanterneaux++;
              } else if (index == 2) {
                this.$parent._data.skyDome = true;
                if (this.$parent._data.skyDome == true) {
                  this.$parent._data.returnskyDome = "volet de SkyDôme";
                }
              }
            },
          },
        });
      //il fini ici
      const vue = new Vue({
        el: "#app",

        /* API */
        data: {
          actualPage: "home",
          buttons: [
            { used: false, name: "pare-brise" },
            { used: false, name: "baie" },
            { used: false, name: "dome" },
          ],
          url: "https://nouvelair-preprod.rouen-webmaster.com/wp-json/nouvelair/api/",
          getAlltriptyque: [],
          getPricebais: [],
          getAlldome: [],
          counterDome: 0,
          counterLanterneaux: 0,
          skyDome: false,
          returnskyDome: "",
          listHauteur: [],
          CampingCarModel: "",
          Buttontodelete: [],
        },

        //methods change la variable qui determine quel composant s'affiche
        methods: {
          choose: function (pageChoosen) {
            this.actualPage = pageChoosen;
            for (i = 0; i < this.buttons.length; i++) {
              if (this.actualPage == this.buttons[i].name) {
                this.buttons[i].used = true;
              }
            }
            if (this.actualPage == "home") {
              for (j = 0; j < this.buttons.length; j++) {
                this.buttons[j].used = false;
              }
              this.CampingCarModel = "";
              this.listHauteur = [];
              this.counterDome = 0;
              this.counterLanterneaux = 0;
              this.skyDome = false;
              this.returnskyDome = "";
            }

            console.log(pageChoosen);
          },
          deletebutton: function (button) {
            button.used = true;
          },
        },

        // Les listes son applé ici.
        /* Ici j'appelle mon getAlltriptyque.*/
        created: function (arg) {
          axios.get(this.url + "alltriptyque").then((response) => {
            if (response.status == 200) {
              console.log(response);
              this.getAlltriptyque.push(response);
            }
          }),
            // Il faut faire le tris response avec les response.
            /*Ici c"est getPricebais*/
            axios.get(this.url + "pricebaie").then((response) => {
              if (response.status == 200) {
                console.log(response);
                this.getPricebais.push(response);
              }
            }),
            /* Ici c'est Alldome */
            axios.get(this.url + "alldome").then((response) => {
              if (response.status == 200) {
                console.log(response);
                this.getAlldome.push(response);
                console.log(this.getResponse);
              }
            });
          //boucler sur les input pour en faire une liste
          for (i = 0; i < 10; i++) {
            this.listHauteur.push({
              hauteur: "",
              longueur: "",
            });
          }
        },

        //on filtre le recap des baie pour ne pas afficher les resultat null//
        computed: {
          filter: function () {
            return this.listHauteur.filter(
              (listHauteur) =>
                listHauteur.hauteur !== "" && listHauteur.longueur !== ""
            );
          },

          // le filtre du button//
          buttonsfilter: function () {
            return this.buttons.filter((buttons) => buttons.used !== true);
          },
        },
      });
    </script>
  </body>
</html>